.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__main {
		display: flex;
		flex-direction: column;
		flex: 1;
		// padding-top: 55px;
		// overflow-x: hidden;
		// &--show {
		// 	padding-top: 92px;
		// 	// @include media-breakpoint-up(lg) {
		// 	// 	padding-top: 140px;
		// 	// }
		// }
	}
}