@use '@/styles/mixins' as *;

.header {
	$parent: &;
	@apply py-3;
	z-index: 100;
	// position: fixed;
	// inset-inline: 0;
	// background-color: #fff;
	// margin-top: 55px;

	&--white {
		@apply text-white;
	}

	&__top {
		@apply container;
		z-index: 100;

		&-wrapper {
			@apply border-b border-colorPrimary hidden md:flex justify-between items-center py-[12px];

			#{$parent}__top--white & {
				@apply border-white;
			}
		}

		&--white {
			@apply text-white;
		}

		&-content {
			@apply flex gap-[13px] text-[16px] font-medium leading-[30px];

			&-text {
				@apply pr-[13px] border-r border-colorPrimary;

				#{$parent}__top--white & {
					@apply border-white;
				}
			}
		}
	}

	&__lang {
		@apply flex items-center gap-1 text-inherit;
	}

	&__wrapper {
		@apply flex items-center justify-between  text-white w-full;
	}

	&__logo {
		@apply flex items-center gap-2;

		img {
			@apply w-[130px] sm:w-[187px];
		}

		&-text {
			@apply text-2xl font-bold;
		}
	}

	&__menu {
		margin-inline-start: 2rem;
		@apply hidden  md:flex gap-[24px] lg:gap-[56px];

		@include media-breakpoint-up(lg) {
			margin-inline-start: 7rem;
		}

		&-wrapper {
			@apply flex items-center;
		}

		#{$parent}__white & {
			&-link {
				&--active {
					@apply before:bg-colorPrimary;
				}
			}
		}
	}

	&__actions {
		@apply hidden md:flex items-center gap-6;

		&-button {
			@apply py-[10px] w-[116px] lg:w-[116px] flex justify-center items-center text-[16px]  rounded-default bg-colorPrimary text-white  h-[40px]  font-semibold;

			#{$parent}__white & {
				@apply bg-colorPrimary text-white;
			}
		}
	}

	&__toggle {
		&-wrapper {
			z-index: 100;
			@apply fixed top-0 right-0 left-0 h-[400px] bg-white p-[30px] -translate-y-full duration-300 ease-out;

			&--show {
				@apply translate-y-0;
			}
		}

		&-close {
			inset-inline-end: 2rem;
			@apply absolute  text-[27px];
		}

		&-dropshadow {
			pointer-events: none;
			@apply fixed top-0 right-0 left-0 bottom-0;

			&--show {
				pointer-events: all;
				@apply bg-black/25;
			}
		}

		&-button {
			@apply md:hidden text-[27px] text-black;

			&--white{
				@apply text-white	
			}
		}

		#{$parent}__white & {
			&-button {
				@apply text-white;
			}
		}

		&-menu {
			&-item {
				@apply mb-[20px] text-[26px] leading-[22px] font-bold;
			}
		}

		&-link {
			@apply w-[154px] block py-[6px] mb-[48px] bg-colorPrimary rounded-default text-white text-[18px] leading-[34px] text-center;
		}
	}
}
